.fl-builder-xpro-woo-product-price-settings .fl-button-group-field-option {
	padding:0px 20px;
}

.xpro-woo-product-price-cls del {
	text-decoration: none;
}

.xpro-woo-product-price-cls {}

.fl-module-fl-woo-product-price .price {
	margin: 0;
}