.fl-builder-xpro-woo-product-description-settings .fl-button-group-field-option {
	padding:0px 20px;
}
.woocommerce .fl-module-fl-woo-product-meta .product_meta {
	border: none;
	margin: 0;
	padding: 0;
}
